# project executive
basic
compression
halving
rank
size
splitting

# byte code from klee
klee/basic/*.bc
klee/compression/*.bc
klee/halving/*.bc
klee/rank/*.bc
klee/size/*.bc
klee/splitting/*.bc

# meta files
Thesis/*.aux
Thesis/*.log
Thesis/*.aux
Thesis/*.fdb_latexmk  
Thesis/*.fls
